body {
  font-family: Arial, Helvetica, sans-serif;
  width: 30em;
}

.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.vertical-menu-heading {
  background-color: lightgray; /* Add a green color to the "active/current" link */
  color: black;
  padding: 6px; /* Add some padding */
  /*width: 100%;*/ /* Set a width if you like */
}

.vertical-menu a {
  background-color: white; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 6px; /* Add some padding */
/*  text-decoration: none; *//* Remove underline from links */
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vertical-menu a:hover {
  background-color: lightgray; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: lightgray; /* Add a green color to the "active/current" link */
  color: black;
}

.vertical-menu button {
  background-color: white; /* Green background */
  border: 1px solid lightgray; /* Green border */
  color: black; /* White text */
  padding: 6px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vertical-menu button:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu button.active {
  background-color: lightgray; /* Add a green color to the "active/current" link */
  color: black;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: white; /* Grey background color */
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
